<div class="gallery">
    <% for (var i = 0; i < data.length; i++ ) { %>
        <%- include('card', {
            link: data[i].link, 
            imgsrc: data[i].img, 
            imgalt: data[i].alt, 
            caption: data[i].caption, 
            card_title: data[i].title, 
            card_text: data[i].text, 
            imgList : data[i].imgList,
            captionList : data[i].captionList,
            isCard: isCard, 
            isCaroussel: data[i].isCaroussel,
            fullScreen: data[i].fullScreen,
            isSvg: data[i].isSvg,
            isModal: data[i].isModal,
            modal_id: data[i].modal_id } ); -%>
    <% } %>
</div>