<title>
    <%= title %>
</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;500;600&display=swap" rel="stylesheet">
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous" defer></script>
<script src="/javascripts/index.js" defer></script>

<!-- <link rel="preload" as="image" href="/images/gt_logo_3.png">
<link rel="preload" as="image" href="/images/caribfood_4.png">
<link rel="preload" as="image" href="/images/julimay_1.png"> -->
