<nav class="navbar">
    <a href="/">
    <?xml version="1.0" encoding="UTF-8"?>
    <svg class="logo" id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 180.42">
      <g id="Layer_1-2" data-name="Layer 1">
        <path d="m3.74,27.59c5.93,16.31,7.51,33.23,11.89,31.5,14.63-3.81,29.71-4.31,41.34-.3,4.16,1.35,5.27,1.19,6.19-4.48,1.1-4.36,3.61-15.16,7.3-26.9-7.49,10.7-14.18,19.45-17.23,19.31l-1.35-16.16-6.24,14.26c-2.69,3.18-5.65-16.83-8.62-36.85-1.92,19.62-4.28,35.08-8.02,37.14l-5.94-14.86-1.78,16.64c-3.95-.99-9.5-12.18-17.53-19.31Z" style="stroke-width: 0px;"/>
        <circle cx="37.58" cy="3.2" r="3.2" style="stroke-width: 0px;"/>
        <circle cx="3.2" cy="22.43" r="3.2" style="stroke-width: 0px;"/>
        <circle cx="71.44" cy="22.43" r="3.2" style="stroke-width: 0px;"/>
        <circle cx="52.45" cy="27.24" r="2.54" style="stroke-width: 0px;"/>
        <circle cx="22.41" cy="26.6" r="2.54" style="stroke-width: 0px;"/>
        <path d="m115.55,87.88c14.31.17,17.64.07,22.26,0-3.59-37.45-66.84-33.35-73.79-3.81-.52,2.2-.18.45-1.19,5.12-6.94,32.17,22.33,62.96,60.7,37.78l2.44,7.64h11.59s.25-40.61.25-40.61l-38.5.17v14.53l16.4.08c-.48,7.18-13.36,13.91-23.19,6.93-3.9-2.77-6.27-7.22-6.72-11.97s-.43-9.19.38-13.55c.57-3.04,2.04-5.89,4.45-7.82,7.53-6.03,21.7-5.21,24.99,4.74v1.53" style="stroke-width: 0px;"/>
        <path d="m2.44,92.35c.08-3.3.29-6.37.71-9.06h22.75c-1.38,3.17-2.21,6.08-2.21,8.61l-21.24.45Z" style="stroke-width: 0px;"/>
        <path d="m32.68,86.43c2.23-1.95,5.18-2.18,7.64-.72,2.32,1.37,3.61,4.01,3.61,6.71v11.89c0,2.71-1.36,5.34-3.76,6.6-2.11,1.11-4.52,1.01-6.52-.17-2.17-1.29-3.37-3.75-3.37-6.28v-12.42c0-2.12.81-4.21,2.4-5.6Z" style="stroke-width: 0px;"/>
        <polygon points="2.7 105.53 24.9 104.99 25.19 108.05 2.89 108.05 2.7 105.53" style="stroke-width: 0px;"/>
        <path d="m3.09,109.83l22.52.11c4.14,11.16,20.34,10.76,24.39-.25.98-6.16,1.27-12.23.59-18.19-.69-16.57-16.21-16.23-23.06-10.03H3.6c10.34-26.26,57.3-29.26,68.27.2,3.14,7.42,2.72,17.47,1.27,28.27-10.71,41.07-70.45,27.14-70.05-.11Z" style="stroke-width: 0px;"/>
        <path d="m96.79,86.74c2.23-1.95,5.18-2.18,7.64-.72,2.32,1.37,3.61,4.01,3.61,6.71v11.89c0,2.71-1.36,5.34-3.76,6.6-2.11,1.11-4.52,1.01-6.52-.17-2.17-1.29-3.37-3.75-3.37-6.28v-12.42c0-2.12.81-4.21,2.4-5.6Z" style="stroke-width: 0px;"/>
        <polygon points="68.09 66.89 60.02 125.39 76.47 125.39 68.09 66.89" class="dark-fill" stroke-width: 0px;"/>
        <polygon points="141.01 138.59 3.65 137.59 3.68 139.23 141.01 139.64 141.01 138.59" style="stroke-width: 0px;"/>
        <text transform="translate(10.37 160.88)" style="font-family: Arima, &apos;Balzano Std&apos;; font-size: 20px;"><tspan x="0" y="0">CatGy Designs</tspan></text>
      </g>
    </svg>
    </a>
    <a href="javascript:void(0);" class="icon" onclick="open_menu()">
      <img class="burger" src="/images/icons/bars-solid.svg" alt="hamburger menu icon">
    </a>

    <ul class="menu">
      <li class="has-sub-menu"> 
        <a class="nav-link <% if (page == 'portfolio') { %> active <% } %>"  href="/portfolio">Portfolio</a>
        <ul class="sub-menu">
          <li class="sub-menu-item"><a class="nav-link <% if (page == 'greenthermique') { %> active <% } %>" href="/portfolio/greenthermique">Green Thermique</a></li>
          <li class="sub-menu-item"><a class="nav-link <% if (page == 'caribfood') { %> active <% } %>" href="/portfolio/caribfood">CaribFood Restaurant</a></li>
          <li class="sub-menu-item"><a class="nav-link <% if (page == 'pawpatrol') { %> active <% } %>" href="/portfolio/pawpatrol">Paw Patrol</a></li>
          <li class="sub-menu-item"><a class="nav-link <% if (page == 'helpo') { %> active <% } %>" href="/portfolio/helpo">Helpo</a></li>
          <li class="sub-menu-item"><a class="nav-link <% if (page == 'julimay') { %> active <% } %>" href="/portfolio/julimay">Julimay Grocery Store</a></li>
          <li class="sub-menu-item"><a class="nav-link <% if (page == 'furniture') { %> active <% } %>" href="/portfolio/furniture">Furniture App</a></li>
        </ul>
      </li>
      <li><a class="nav-link <% if (page == 'about') { %> active <% } %>" href="/about">About</a></li>
      <li><a class="nav-link <% if (page == 'contact') { %> active <% } %>" href="/contact">Contact</a></li>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" height="30" width="30" id="theme_toggler">
      <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
      <path d="M297.2 248.9C311.6 228.3 320 203.2 320 176c0-70.7-57.3-128-128-128S64 105.3 64 176c0 27.2 8.4 52.3 22.8 72.9c3.7 5.3 8.1 11.3 12.8 17.7l0 0c12.9 17.7 28.3 38.9 39.8 59.8c10.4 19 15.7 38.8 18.3 57.5H109c-2.2-12-5.9-23.7-11.8-34.5c-9.9-18-22.2-34.9-34.5-51.8l0 0 0 0c-5.2-7.1-10.4-14.2-15.4-21.4C27.6 247.9 16 213.3 16 176C16 78.8 94.8 0 192 0s176 78.8 176 176c0 37.3-11.6 71.9-31.4 100.3c-5 7.2-10.2 14.3-15.4 21.4l0 0 0 0c-12.3 16.8-24.6 33.7-34.5 51.8c-5.9 10.8-9.6 22.5-11.8 34.5H226.4c2.6-18.7 7.9-38.6 18.3-57.5c11.5-20.9 26.9-42.1 39.8-59.8l0 0 0 0 0 0c4.7-6.4 9-12.4 12.7-17.7zM192 128c-26.5 0-48 21.5-48 48c0 8.8-7.2 16-16 16s-16-7.2-16-16c0-44.2 35.8-80 80-80c8.8 0 16 7.2 16 16s-7.2 16-16 16zm0 384c-44.2 0-80-35.8-80-80V416H272v16c0 44.2-35.8 80-80 80z"/></svg>

    </ul>

    <div class="mobile-panel">
    <svg class="close-btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" onclick="closePanel()"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg>
     <ul class="mobile">
       <li class="">
        <div class="mobile-sub-trig">
          <a class="nav-link <% if (page == 'portfolio') { %> active <% } %>"  href="/portfolio">Portfolio</a>
          <svg class="extend-btn" onclick="openSubMenu()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path class="plusicon" visibility="visible" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
          <path class="minusicon" visibility="hidden" d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/>
          </svg>
        </div>
        </li>
      <li class=""> 
        <ul class="mobile-sub">
          <li class=""><a class="nav-link <% if (page == 'greenthermique') { %> active <% } %>" href="/portfolio/greenthermique">Green Thermique</a></li>
          <li class=""><a class="nav-link <% if (page == 'caribfood') { %> active <% } %>" href="/portfolio/caribfood">CaribFood Restaurant</a></li>
          <li class=""><a class="nav-link <% if (page == 'pawpatrol') { %> active <% } %>" href="/portfolio/pawpatrol">Paw Patrol</a></li>
          <li class=""><a class="nav-link <% if (page == 'helpo') { %> active <% } %>" href="/portfolio/helpo">Helpo</a></li>
          <li class=""><a class="nav-link <% if (page == 'julimay') { %> active <% } %>" href="/portfolio/julimay">Julimay Grocery Store</a></li>
          <li class=""><a class="nav-link <% if (page == 'furniture') { %> active <% } %>" href="/portfolio/furniture">Furniture App</a></li>
        </ul>
      </li>
      <li><a class="nav-link <% if (page == 'about') { %> active <% } %>" href="/about">About</a></li>
      <li><a class="nav-link <% if (page == 'contact') { %> active <% } %>" href="/contact">Contact</a></li>
    </ul>
  </div>
  </nav>