@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,800&display=swap");

@font-face {
  font-family: "Amsterdam";
  src: url("../fonts/Amsterdam.ttf");
}
/* COMMON */
.dark-mode {
  --text-color: #f7f7f7;
  --body-bg: radial-gradient(
    circle,
    rgba(24, 52, 89, 1) 21%,
    rgba(10, 25, 38, 1) 56%
  );
  --fill-color: #fff;
  --dark-fill-color: #2b2b2b;
  --card-border-color: rgba(255, 255, 255, 0.5);
  --nav-link-color: #e7c000;
  --card-bg-hover-color: #1795c345;
  --mobile-panel-bg: #000e17db;
  --mobile-panel-color: #f5f5f5;
  --contact-box-bg: #000e17db;
}
:root {
  --text-color: #333b3c;
  --body-bg: #fff;
  --fill-color: #2b2b2b;
  --dark-fill-color: #fff;
  --card-border-color: rgba(0, 0, 0, 0.5);
  --nav-link-color: #056584;
  --card-bg-hover-color: rgba(14, 20, 21, 0.035);
  --mobile-panel-bg: #f5f5f5f7;
  --mobile-panel-color: #056584;
  --contact-box-bg: #ffffffdb;
}
/*radial-gradient(circle, rgba(24, 52, 89, 1) 21%, rgba(10, 25, 38, 1) 56%)*/
body {
  font: 120% Helvetica;
  background: var(--body-bg);
  color: var(--text-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: 120% Merienda;
  color: var(--text-color);
}

a {
  color: var(--text-color);
}

h1 {
  font-size: 56px;
  font-family: Playfair Display;
}

h3 {
  font-family: Playfair Display;
}

p {
  font: 100% Arima;
  font-weight: 500;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

main > div > p {
  text-align: justify !important;
}

main > div {
  display: inherit;
  flex-direction: inherit;
  align-items: center;
}

main > div > img {
  width: 100%;
  max-width: 700px;
  border-radius: 15px;
}

h1,
p {
  text-align: center;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 90%;
}

body > header {
  height: 100px;
}

header > h2 {
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  margin-top: 70px;
}

section > header {
  margin-bottom: 20px;
}

section {
  padding-left: 5%;
  padding-right: 5%;
}

section .card {
  max-height: 500px;
}

article > div > p {
  text-align: justify;
}

article > div {
  flex-direction: column;
  width: 100%;
}

article > div a {
  color: #e7c000 !important;
}

iframe {
  overflow: hidden;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 20px;
}

#theme_toggler {
  fill: var(--text-color);
  cursor: pointer;
}

.tools ul {
  display: flex;
  flex-direction: row;
  list-style-type: none !important;
  row-gap: 20px;
  column-gap: 50px;
  flex-wrap: wrap;
}

.tools-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: end;
  line-height: 0.8;
  margin-top: 50px;
  font-size: 100%;
}
.tools-section h2 {
  font-size: 90%;
}

.user_article {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.reverse {
  flex-flow: row-reverse;
}

.user_article > figure > img {
  object-fit: cover;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

.user_article li > p {
  text-align: justify;
}

.video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*padding: 50px;*/
}

section figcaption {
  margin-top: 20px;
  font: 100% Arima;
  color: var(--nav-link-color);
}

a {
  /*color: #f7f7f7 !important;*/
  text-decoration: none;
}

.logo {
  height: 140px;
  left: 3%;
  top: 5px;
  position: absolute;
  fill: var(--fill-color);
}

.dark-fill {
  fill: var(--dark-fill-color);
}

.menu li:hover > a {
  color: var(--nav-link-color) !important;
}

.menu li > a:active {
  color: var(--nav-link-color) !important;
}

.active {
  color: var(--nav-link-color) !important;
}

.burger {
  height: 50px;
  fill: var(--fill-color);
}

#welcome {
  text-align: center;
}

footer {
  text-align: center !important;
  font-size: small;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: -moz-available;
  gap: 45px;
}

.descr {
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
}

figure {
  text-align: center;
  margin: 0px;
}

.link {
  text-align: start;
  color: var(--nav-link-color) !important;
}

.navbar .menu a {
  font: 120% Arima;
}

.navbar .sub-menu-item a {
  font: 90% Arima;
}

/* CONTACT */
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding: 0;
}

.contact {
  display: inherit;
  flex-direction: inherit;
  align-items: start;
}
.contact-text {
  max-width: 500px;
  text-align: left;
}

.contact-connect {
  font: 100% Amsterdam;
  color: var(--nav-link-color);
  transition: 1s ease;
}

.contact-connect:hover {
  cursor: pointer;
  color: #0a8cb5;
}

.clipper {
  animation: shutters 1s;
  z-index: 0;
  /* clip-path: path(
    "M234.434 136.513C178.698 113.013 78.1829 112.388 12.4324 174.514C-53.3181 236.639 172.057 256.888 216.433 395.514C260.808 534.14 108.183 743.516 189.935 729.018C271.683 714.518 323.059 552.142 444.435 529.516C565.809 506.891 682.687 763.268 782.438 674.517C882.189 585.767 1070.31 531.765 1041.43 451.514C1012.56 371.263 713.434 435.64 666.934 353.514C620.434 271.388 918.558 191.263 885.432 105.013C852.307 18.7627 646.183 -16.8625 534.432 8.51269C422.682 33.8879 423.434 213.514 364.434 230.514C305.433 247.514 290.171 160.014 234.434 136.513Z"
  ); */
}

.clipper:hover {
  clip-path: circle(75%);
}
.contact-test {
  background: url("../images/testImg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px;
}

.contact-test-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: center;
  background-color: var(--contact-box-bg);
  padding: 30px;
  border-radius: 20px;
  z-index: 5;
}

@keyframes shutters {
  from {
    clip-path: circle(5%);
  }
  to {
    clip-path: circle(75%);
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #ffffff21;
  padding: 50px;
  border-radius: 15px;
  border: 1px solid #121212;
  color: #d7d7d7;
}

.field-group {
  flex-direction: column;
  display: inherit;
}

input,
textarea {
  padding: 10px;
  background-color: transparent;
  color: #d7d7d7;
  border: 1px solid #f7f7f7;
  border-radius: 5px;
}
textarea {
  height: 100px;
}

input,
label {
  height: 40px;
  border-radius: 5px;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
  border: 1px solid #e7c000;
}

input[type="submit"] {
  width: 100px;
  margin: 0 auto;
  background-color: #e7c000;
  color: black;
  border: 1px solid transparent;
}

input[type="submit"]:hover {
  background-color: transparent;
  color: #e7c000;
  border: 1px solid #e7c000;
  cursor: pointer;
}

/* CARD */
.card {
  min-height: 338px;
  min-width: 450px;
  background-color: rgb(255 255 255 / 9%);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.25;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid var(--card-border-color);
  padding: 20px;
  border-radius: 5px;
  justify-content: space-between;
  height: 100%;
}

.card a {
  min-height: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.pictures {
  height: auto !important;
  max-height: min-content !important;
  object-fit: cover !important;
}

.subtitle {
  font-size: 24px;
}

.imgcard {
  object-fit: cover;
  overflow: hidden;
  border-radius: 5px;
}

.card img {
  max-width: 450px;
  max-height: inherit !important;
  object-fit: cover;
  border-radius: 5px;
}

.card h4,
.card p {
  margin: 2px 16px;
  text-align: start;
}

.card h4 {
  font-family: Arima;
  font-size: 28px;
  text-align: center;
}

.card figcaption {
  margin-top: 12px;
  text-align: center;
  margin: 15px 16px;

  color: var(--nav-link-color);
  font-family: Arima;
  font-size: 18px;
}

.card p {
  font-size: 14px;
}

.card:hover {
  background-color: var(--card-bg-hover-color);
  cursor: pointer;
}

/* MOBILE */
@media screen and (max-width: 700px) {
  .hero-image img {
    width: 70% !important;
  }

  #hero {
    width: 80%;
    height: 300px;
  }
  .video iframe {
    width: 100%;
    height: 300px;
  }
  /*NAVBAR PARTIALS */
  .navbar {
    overflow: hidden;
    /*margin-bottom: 200px;*/
    margin-top: 10px;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    justify-content: flex-end;
    margin-top: 90px;
    width: 100%;
  }

  .menu {
    left: -100px;
    position: absolute;
  }

  .sub-menu {
    position: absolute;
    display: none !important;
    flex-direction: column !important;
    gap: 10px !important;
    top: -48px;
    padding-left: 80px !important;
  }

  .mobile-panel {
    width: 240px;
    left: -270px;
    position: absolute;
    display: flex !important;
    flex-direction: column !important;
    top: 0px;
    padding-left: 30px;
    font: 100% Arima;
    background-color: var(--mobile-panel-bg);
    height: 100vh;
    z-index: 20;
  }

  .mobile-panel .mobile-sub {
    position: relative;
    height: 0px;
    overflow: hidden;
    margin-top: 0px;
    display: block;
  }

  .mobile .nav-link:hover {
    color: var(--nav-link-color);
  }

  .mobile-panel .close-btn {
    top: 10px;
    right: 10px;
    position: absolute;
    height: 30px;
    width: 30px;
    fill: var(--mobile-panel-color);
    rotate: 0deg;
    transition: rotate 1s;
  }

  .plusicon,
  .minusicon {
    fill: var(--mobile-panel-color);
  }

  .mobile-panel .close-btn:hover {
    cursor: pointer;
    rotate: 75deg;
  }

  .mobile-sub-trig {
    display: flex;
    flex-direction: row;
    gap: 120px;
    margin-top: 0px;
    align-items: center;
  }

  .extend-btn {
    height: 20px;
    width: 20px;
    fill: white;
  }

  .extend-btn:hover {
    cursor: pointer;
  }

  /* .has-sub-menu:hover .sub-menu, .sub-menu:hover, .sub-menu-item:hover {
    display: flex !important;
    flex-direction: column !important;
  }

  .sub-menu:hover {
    animation-name: slideinsubmenu;
    animation-duration: 1s;   
    animation-fill-mode: forwards;
  } */

  .icon {
    display: block;
    height: 50px;
    width: 50px;
    display: block;
    position: absolute;
    left: 25px;
    top: 25px;
  }

  .logo {
    display: inline-block;
    left: 40%;
  }

  .extend {
    animation-name: extend-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  .collapse {
    animation-name: collapse-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes extend-animation {
    from {
      height: 0px;
      left: 0%;
      display: flex;
    }

    to {
      height: 190px;
      left: 8%;
      display: flex;
    }
  }

  @keyframes collapse-animation {
    from {
      height: 190px;
      left: 8%;
      display: flex;
    }

    to {
      height: 0px;
      left: 0%;
      display: flex;
    }
  }

  .slide-in {
    animation-name: slidein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .slide-out {
    animation-name: slideout;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes slidein {
    from {
      left: -270px;
      display: block;
      position: absolute;
    }

    to {
      left: 0px;
      display: block;
      position: absolute;
    }
  }

  @keyframes slideout {
    from {
      left: 0px;
      display: block;
      position: absolute;
    }

    to {
      left: -270px;
      display: block;
      position: absolute;
    }
  }

  @keyframes slideinsubmenu {
    from {
      left: -80px;
      display: block;
      position: absolute;
      opacity: 0;
    }

    to {
      left: 20px;
      display: block;
      position: absolute;
      opacity: 1;
    }
  }
}

@media screen and (max-width: 1150px) {
  .user_article {
    flex-direction: column;
  }
}
/* TABLET */
@media screen and (min-width: 701px) and (max-width: 1600px) {
  main {
    align-items: normal;
    padding: 50px;
  }

  .mobile-panel {
    display: none;
  }

  .user_article > figure > img {
    object-fit: cover;
    margin: 0 auto;
    width: inherit;
    max-width: 500px;
  }

  /*NAVBAR PARTIALS */
  .navbar {
    overflow: hidden;
    margin-bottom: 100px;
    margin-top: 10px;
  }

  .icon {
    display: none;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 25px;
    top: 25px;
    filter: invert(100%) sepia(1%) saturate(3137%) hue-rotate(284deg)
      brightness(114%) contrast(94%);
  }

  .navbar ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style-type: none;
    padding: 0;
    justify-content: flex-end;
    margin-right: 166px;
    align-items: center;
  }
}

/* DESKTOP */
@media screen and (min-width: 1600px) {
  main {
    align-items: normal;
    padding-left: 250px;
    padding-right: 250px;
  }

  .mobile-panel {
    display: none;
  }

  .user_article > figure > img {
    object-fit: cover;
    margin: 0 auto;
    width: inherit;
    max-width: 500px;
  }

  /*NAVBAR PARTIALS */
  .navbar {
    overflow: hidden;
    margin-bottom: 100px;
    margin-top: 10px;
  }

  .navbar a {
    font: 120% Arima;
  }

  .icon {
    display: none;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 25px;
    top: 25px;
    filter: invert(100%) sepia(1%) saturate(3137%) hue-rotate(284deg)
      brightness(114%) contrast(94%);
  }

  .navbar ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style-type: none;
    padding: 0;
    justify-content: flex-end;
    margin-right: 166px;
  }

  .sub-menu {
    position: absolute;
    display: none !important;
    flex-direction: column !important;
    gap: 10px !important;
    padding-top: 10px !important;
  }

  .has-sub-menu:hover .sub-menu,
  .sub-menu:hover,
  .sub-menu-item:hover {
    display: flex !important;
    flex-direction: column !important;
  }

  .has-sub-menu:hover .sub-menu {
    animation-name: slidedownsubmenu;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes slidedownsubmenu {
    from {
      top: 45px;
      display: block;
      position: absolute;
      opacity: 0;
    }

    to {
      top: 50px;
      display: block;
      position: absolute;
      opacity: 1;
    }
  }
}

.sub-menu {
  position: absolute;
  display: none !important;
  flex-direction: column !important;
  gap: 0px !important;
  padding-top: 10px !important;
  align-items: unset !important;
}

.has-sub-menu:hover .sub-menu,
.sub-menu:hover,
.sub-menu-item:hover {
  display: flex !important;
  flex-direction: column !important;
}

.has-sub-menu:hover .sub-menu {
  animation-name: slidedownsubmenu;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  background: var(--mobile-panel-bg);
  padding: 20px;
  border-radius: 10px;
  z-index: 5;
}

@keyframes slidedownsubmenu {
  from {
    top: 45px;
    display: block;
    position: absolute;
    opacity: 0;
  }

  to {
    top: 60px;
    display: block;
    position: absolute;
    opacity: 1;
  }
}

/* HERO IMAGE */
.hero-image {
  overflow: hidden;
  background-color: #dfdfdf;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}
.hero-image img {
  width: 37%;
}
/* HOME PAGE */
.hero {
  width: 100%;
  max-height: 650px;
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
}
/* PORTFOLIO PAGE */
/* GREENTHERMIQUE PAGE */
/* CARIBFOOD PAGE */
/* PODCAST PAGE */
/* ABOUT PAGE */
/* CONTACT PAGE */
