<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head', { title: title }); -%>
    <script src="/javascripts/animations.js" defer></script>
</head>

<body>
  <header>
    <%- include('partials/navbar'); -%>
  </header>
  <div id="wl-img" class="welcome-image welcome-image-dk">
  </div>
  <main>
    <section id="welcome">
      <div id="typer-container">
        <div class="wel">
          <span class="wave">👋</span>
          <span id="text1"></span>
        </div>
        <div id="text2" class="welcome-text"></div>
        <div id="text3" class=""></div>
        <ul>
          <li id="pt1" class="sub-text"></li>
          <li id="pt2" class="sub-text"></li>
          <li id="pt3" class="sub-text"></li>
          <li id="pt4" class="sub-text"></li>
          <li id="pt5" class="sub-text"></li>
        </ul>
      </div>
    </section>
    <!--<%- include('partials/hero_video', {video_src: vidsrc, vid_height: 500, vid_width: (500*1.78), ismp4: ismp4}); -%>-->
  </main>
  <footer>
    <%- include('partials/footer'); -%>
  </footer>
</body>

</html>