<section id="contact">
<div class="contact">
<p class="contact-text">I'm currently seeking full-time opportunities and 
always excited to collaborate on new design projects. </p>
<p>Let's bring your ideas to life</p>
<div class="justify-center">
    <a class="contact-connect" href="mailto:contact@catgy.ca?subject=Let's connect&body=Let's bring your vision to life! Tell me more about your project idea.">
        <p class="no-hover-text">
            <svg class="mailto-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"/></svg>
            <span class="hover-text">contact@catgy.ca</span>
        </p>
        
        
    </a>
</div>
</div>
</section>
