<div class="" style="display:flex; flex-direction: column;">
<% colors.forEach(function(elem){ %>
<div style="display:flex; flex-direction: row; align-items: center; gap:10px;">
<div style="background-color:<%= elem.color %>; min-width: 50px; height: 50px; border-radius: 5px;" >
</div>
<p style="text-align: left;"><%= elem.color_text %></p>
</div>
<% }); %>
</div>